@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.content {
  display: flex;
  width: 100%;
  text-align: left;
}

h2 {
  margin: 0;
  font-size: 3rem;
  color: rgb(94, 94, 94);
  border-bottom: rgb(233, 231, 231) 1px solid;
  padding: 5px;
}

.home {
  width: 100%;
  font-size: 5rem;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  margin: 0;
  color: white;
}

.addClientView {
  display: flex;
  height: 90vh;
  align-items: flex-start;
  justify-content: center;
}

.addRepairView {
  display: flex;
  height: 90vh;
  align-items: flex-start;
  justify-content: center;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 10;
  width: 100%;
  display: table;
  box-sizing: border-box;
  text-align: center;
  border-color: rgb(12, 19, 235);
  font-variant: normal;
}

thead {
  background: #ffffff;
  color: rgb(17, 59, 230);
  text-align: center;
  margin-left: 20px;
  vertical-align: bottom;
  display: table-header-group;
  padding:20px;
  font-weight: bolder;
}

tr {
  display: table-row;
  vertical-align: middle;
  border: 1px solid #3216eb;
}

td {
  border-bottom: 1px solid #3323ec;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.3em 1em;
}
