@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h2 {
  /* margin-top: 10px; */
  font-size: 35px;
  color: rgb(94, 94, 94);
  border-bottom: rgb(233, 231, 231) 1px solid;
  padding-top: 8px;
}

h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 10;
  width: 100%;
  display: table;
  box-sizing: border-box;
  text-align: center;
  border-color: rgb(12, 19, 235);
  font-variant: normal;
}

thead {
  background: #ffffff;
  color: rgb(17, 59, 230);
  text-align: center;
  margin-left: 20px;
  vertical-align: bottom;
  display: table-header-group;
  padding: 20px;
  font-weight: bolder;
}

tr {
  display: table-row;
  vertical-align: middle;
  border: 1px solid #3216eb;
}

td {
  border-bottom: 1px solid #3323ec;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.3em 1em;
}

.user-form {
  width: 50vw;
}

.btn-primary {
  outline: solid white 1px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.btn-primary:hover {
  background: #b1b122;
  color: white;
}

.btn-success {
  background: rgb(12, 172, 132);
  color: white;
}

.btn-danger {
  background: rgb(238, 146, 7);
}

.content {
  margin-left: 120px;
  transition: margin-left 0.2s ease-in;
  box-sizing: border-box;
}

.content.inactive {
  margin-left: 30px;
}

@media only screen and (max-width: 800px) {
  .content {
    margin-left: 70px;
  }
}
