table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 10;
    width: 100%;
    display: table;
    box-sizing: border-box;
    color: -internal-quirk-inherit;
    text-align: center;
    border-color: grey;
    font-variant: normal;
}

table thead {
    background: #e6e6e6;
    color: #000;
    text-align: center;
    margin-left: 20px;
    vertical-align: bottom;
    display: table-header-group;
    padding:20px
}

tr {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}

td {
    border: 1px solid #eeeeee;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.3em 1em;
}

