.home {
  font-size: 5rem;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  width: auto;
  top: 0px;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
