.nav-menu {
    background-color:#07166c;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: 850ms;
}
  
.nav-menu.active {
    left: 0;
    transition: 350ms;
}
  
.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 0px 12px 16px;
    list-style: none;
    height: 70px;
}
  
.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px, 2px;
    border-radius: 4px;
}
  
.nav-text a:hover {
    background-color: #1a83ff;
}
  
.nav-menu-items {
    width: 100%;
}